@model Product;
@{
    ViewData["Title"] = "Detail";
}

<h1>Details</h1>

<b>@Model.name</b> <br/>
Price: $@Model.price <br/>
Description: @Model.description <br/>
Category: @Model.category <br/>
Product ID #: @Model.id <br/>
